@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin: 0px;
}

body {
    background-image: linear-gradient(to bottom right, 
    rgb(0, 116, 131), rgb(111, 197, 255), rgb(160, 209, 231), 
     rgb(111, 197, 255), rgb(0, 116, 131));
}

h1 {
    text-align: center;
    font-size: 48px;
}

p {
    text-align: center;
    font-size: 16px;
}

button {
    width: 25%;
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 0 15 black;
}

button:hover {
    background-color: rgb(2, 72, 129);
    color: white;
}

li {
    font-size: 14px;
}

.maincontainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
}

.selectioncontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.selectioncomputer {
    display: flex;
    justify-content: space-around;
}

.selectioncomputer div {
    border: 2px outset gray;
    border-radius: 5px;
    background-color: rgb(236, 236, 236);
    color: rgb(68, 68, 68);
    padding: 20px;
    font-size: 15px;
}

.selectioncomputer div:hover {
    background-color: rgb(204, 204, 204);
    border: 2px inset gray;
}

.resultcontainer {
    border: 5px dashed darkslategray;
    padding: 15px;
    margin: 30px;
    font-size: 24px;
    font-weight: bold;
    height: 200px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.tally {
    display: flex;
    margin-top: auto;
    align-self: flex-end;
    flex-direction: row;
    width: 100%;
}

.innertally {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.resultcontainer p {
    font-size: 18px;
    font-weight: 300;
}

.resultcontainer hr {
    width: 50%;
    align: center;
}

.optionscontainer {
    display: flex;
    justify-content: space-around;
}